<div class="page-body">
    <!-- Container-fluid starts-->
    <div class="container-fluid">

        <div class="col-xxl-8 col-sm-12 box-col-12 mt-5">
            <div class="row">

                <div class="col-xxl-6 col-xl-4 box-col-12">
                    <div class="card widget-1">
                        <div class="card-body align-items-center">
                            <div class="widget-content">
                                
                                    <div class="bg-round">
                                    <img width="70" height="70" src="https://img.icons8.com/stickers/70/community-grants.png" alt="community-grants" />
                                </div>
                               
                                <div>
                                    <h5> الحالات النقديه</h5>
                                </div>
                            </div>
                            <div class="font-Info"><h5 class="mb-1">126</h5></div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-4 box-col-12">
                    <div class="card widget-1 ">
                        <div class="card-body align-items-center">
                            <div class="widget-content">

                                <div class="bg-round">
                                    <img width="70" height="70" src="https://img.icons8.com/external-coco-line-kalash/70/external-boxes-transport-and-logistics-coco-line-kalash-2.png" alt="external-boxes-transport-and-logistics-coco-line-kalash-2" />
                                </div>

                                <div>
                                    <h5> الحالات العينيه</h5>
                                </div>
                            </div>
                            <div class="font-Info"><h5 class="mb-1">22  </h5></div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-4 box-col-12">
                    <div class="card widget-1">
                        <div class="card-body align-items-center">
                            <div class="widget-content">

                                <div class="bg-round">
                                    <img width="70" height="70" src="https://img.icons8.com/plasticine/70/bank.png" alt="bank" />
                                </div>

                                <div>
                                    <h5> الخزنه</h5>
                                </div>
                            </div>
                            <div class="font-Info"><h5 class="mb-1">19,500 ج.م</h5></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xxl-6 col-xl-6 box-col-12">
                    <div class="card widget-1">
                        <div class="card-body align-items-center">
                            <div class="widget-content">

                                <div class="bg-round">
                                    <img width="70" height="70" src="https://img.icons8.com/external-anggara-filled-outline-anggara-putra/70/external-loan-economy-anggara-filled-outline-anggara-putra.png" alt="external-loan-economy-anggara-filled-outline-anggara-putra" />
                                </div>

                                <div>
                                    <h5>إجمالي التبـرعات (الشهريه)</h5>
                                </div>
                            </div>
                            <div class="font-Info"><h5 class="mb-1">43,125 ج.م</h5></div>
                        </div>
                    </div>
                </div>

                <div class="col-xxl-6 col-xl-6 box-col-12">
                    <div class="card widget-1 ">
                        <div class="card-body align-items-center">
                            <div class="widget-content">

                                <div class="bg-round">
                                    <img width="70" height="70" src="https://img.icons8.com/bubbles/70/money-bag.png" alt="money-bag" />
                                </div>

                                <div>
                                    <h5>   مصروف الكفـاله الشهريه</h5>
                                </div>
                            </div>
                            <div class="font-Info"><h5 class="mb-1">22,678  ج.م</h5></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="card ">
                <div class="card-header p-3">
                    <h3 class="light-card balance-card widget-hover border border-secondary-subtle w-50 mx-auto d-flex justify-content-center border border-secondary rounded-pill bg-primary">
                        <i class="fas fa-dollar-sign" style="font-size:30px;"></i>   مصروفات الحالات الـشهري

                    </h3>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table display align-middle text-center table-hover rounded-pill" id="table" data-order='[[ 0, "asc" ]]' data-page-length='10'>

                            <thead>
                                <tr>
                                    <th class="text-center"> <i class="fas fa-signature"></i> الأسـم</th>
                                    <th class="text-center"><i class="fas fa-phone-alt"></i> رقـم التليـفون</th>
                                    <th class="text-center"><i class="fas fa-calendar-week"></i> الـنوع</th>
                                    <th class="text-center"><i class="fas fa-dollar-sign"></i> المبلغ</th>
                                  
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center">إبراهـيم عبد اللطـيف</td>
                                    <td class="text-center">01002154202</td>
                                    <td class="text-center">نقدي</td>
                                    <td class="text-center"><h6><span class="badge rounded-pill badge-light-success"> 1200 ج.م</span></h6></td>
                                  
                                    @*<span class="badge rounded-pill badge-success">*@
                                </tr>
                                 <tr>
                                    <td class="text-center">عمر عبد اللطـيف</td>
                                    <td class="text-center">0122565847</td>
                                    <td class="text-center">نقدي</td>
                                    <td class="text-center"><h6><span class="badge rounded-pill badge-light-success"> 1750 ج.م</span></h6></td>
                                  
                                    @*<span class="badge rounded-pill badge-success">*@
                                </tr>
                         

                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="2"><h5>الإجمالي : <span class="badge rounded-pill badge-light-secondary"> 25000  ج.م </span>  </h5></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
       

    </div>
    <!-- Container-fluid Ends-->
</div>