@{
    ViewData["Title"] = "Page 2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-body">
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row widget-grid mt-5">
            <div class="col-xxl-4 col-sm-5 box-col-6">
                <div class="card profile-box widget-hover">
                    <div class="card-body">
                        <div class="media ">
                            <div class="media-body">
                                <div class="greeting-user pb-3">
                                    <h5 class="f-w-600">أهـلا بك في منصه أدندان الخـيريـه</h5>
                                    <p> </p>
                                    <p>تـأسسـت الجمعيه فى عام 1908م </p>
                                    <div class="whatsnew-btn"><a class="btn btn-outline-white rounded-pill">الـمزيد</a></div>
                                </div>
                            </div>

                        </div>
                        <div class="cartoon"><img class="img-fluid" src="~/assets/images/dashboard/cartoon4.svg" alt="vector women with leptop" style="margin:39px;"></div>
                    </div>
                </div>
            </div>


            <div class="col-xxl-8 col-sm-7 box-col-6">
                <div class="row">

                    <div class="col-xxl-6 col-xl-6 box-col-12">
                        <div class="card widget-1">
                            <div class="card-body align-items-center">
                                <div class="widget-content">
                                    <div class="widget-round Info">
                                        <div class="bg-round">
                                            <img width="80" height="80" src="https://img.icons8.com/bubbles/80/connected-people.png" alt="connected-people" />
                                        </div>
                                    </div>
                                    <div>
                                        <h5>عــدد الـحـالات</h5>
                                    </div>
                                </div>
                                <div class="font-Info"><h5 class="mb-1">224</h5></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-6 col-xl-6 box-col-12">
                        <div class="card widget-1 ">
                            <div class="card-body align-items-center">
                                <div class="widget-content">
                                    <div class="widget-round text-white">
                                        <div class="bg-round">
                                            <img width="68" height="68" src="https://img.icons8.com/external-filled-outline-lima-studio/68/external-grave-ramadan-filled-outline-lima-studio.png" alt="external-grave-ramadan-filled-outline-lima-studio" />
                                        </div>
                                    </div>
                                    <div>
                                        <h5>عــدد الـمقـابــر</h5>
                                    </div>
                                </div>
                                <div class="font-Info"><h5 class="mb-1">325</h5></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-6 col-xl-6 box-col-12">
                        <div class="card widget-1">
                            <div class="card-body align-items-center">
                                <div class="widget-content">
                                    <div class="widget-round Info">
                                        <div class="bg-round">
                                            <img width="80" height="80" src="https://img.icons8.com/bubbles/80/meeting-room.png" alt="meeting-room" />
@*                                            <i class="fad fa-users" style="font-size: 30px;"></i>
*@                                        </div>
                                    </div>
                                    <div>
                                        <h5>عــدد الأعــضـاء</h5>
                                    </div>
                                </div>
                                <div class="font-Info"><h5 class="mb-1">112</h5></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-6 col-xl-6 box-col-12">
                        <div class="card widget-1">
                            <div class="card-body align-items-center">
                                <div class="widget-content">
                                    <div class="widget-round Info">
                                        <div class="bg-round">
                                            <img width="80" height="80" src="https://img.icons8.com/bubbles/80/trust.png" alt="trust" />
                                        </div>
                                    </div>
                                    <div>
                                        <h5>عــدد الـمتبـرعين</h5>
                                    </div>
                                </div>
                                <div class="font-Info"><h5 class="mb-1">147</h5></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-xxl-12 col-lg-12 box-col-12">
                <div class="card">
                    <div class="card-header card-no-border">
                        <h5 class="light-card balance-card widget-hover col-xl-4 col-md-8 col-sm-7 rounded-pill bg-primary"><i class="fas fa-wallet" style="font-size: 30px;"></i><span> - </span>  خزنه الكـفاله الشهري</h5>
                    </div>
                    <div class="card-body pt-0">
                        <div class="row m-0 overall-card">
                            <div class="col-xl-9 col-md-8 col-sm-7 p-0">
                                <div class="chart-right">
                                    <div class="row">
                                        <div class="col-xxl-12 col-xl-12">
                                            <div class="card-body p-0">

                                                <div class="card-body p-0 chart-block">
                                                    <div class="chart-overflow" id="piechart_3d"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-12 col-sm-5 p-0">
                                <div class="row g-sm-4 g-2">
                                    <div class="col-xl-12 col-md-4">
                                        <div class="light-card balance-card widget-hover border-secondary-subtle">

                                            <div>
                                                <span class="f-bold">  <i class="fas fa-money-check-alt font-primary" style="font-size: 20px;"></i>  <b>الإجمـالي</b></span>
                                            </div>
                                            <div class="ms-auto text-end">
                                                <span class="font-primary">
                                                    <strong>122,678  ج.م </strong>
                                                </span>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-md-4">
                                        <div class="light-card balance-card widget-hover">

                                            <div>
                                                <span class="f-bold">  <i class="fas fa-hand-holding-usd font-success" style="font-size: 20px;"></i>  <b>الإيـرادات</b></span>
                                            </div>
                                            <div class="ms-auto text-end">
                                                <span class="font-success">
                                                    <strong>32,678 +  ج.م </strong>
                                                </span>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-md-4">
                                        <div class="light-card balance-card widget-hover">

                                            <div>
                                                <span class="f-bold">  <i class="fas fa-hand-holding font-danger" style="font-size: 20px;"></i>  <b>المصـروفـات</b></span>
                                            </div>
                                            <div class="ms-auto text-end">
                                                <span class="font-danger">
                                                    <strong> 22,678 -  ج.م </strong>
                                                </span>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-md-4">
                                        <div class="light-card balance-card widget-hover">

                                            <div>
                                                <span class="f-bold">  <i class="fas fa-question font-warning" style="font-size: 20px;"></i>  <b>الـمتبقي</b></span>
                                            </div>
                                            <div class="ms-auto text-end">
                                                <span class="font-warning">
                                                    <strong>5,678  ج.م </strong>
                                                </span>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>

@section Script{
    <!-- Plugins JS start-->
    
   
    <script src="../assets/js/chart/google/google-chart-loader.js"></script>
    <script src="../assets/js/datepicker/date-picker/datepicker.js"></script>
    <script src="../assets/js/datepicker/date-picker/datepicker.en.js"></script>
    <script src="../assets/js/datepicker/date-picker/datepicker.custom.js"></script>
    <script>
        google.charts.load("current", { packages: ["corechart"] });
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['الإيـرادات', 'يـومي'],
                ['المصـروفـات', 10],
                ['الإيـرادات', 90]
            ]);

            var options = {

                is3D: true,
                width: 500,
                height: 300,
                fontSize: 15,
                direction: 'RTL'
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
            chart.draw(data, options);
        }
    </script>
}